.listaTareas {
    border: 1px solid black;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    background-color: skyblue;
}

#agregarTarea {
    margin-left: 10px;
}